#login-container {
  background-color: white;
}
/* Buttons */
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #FF6E0B;
}

.mat-form-field{
  width: 100%;
}
