<div>
    <nb-chat *ngFor="let chat of chats"  [title]="chat.title" [status]="chat.status">
    <!-- Type of service selector -->
    <div *nbCustomMessage="'button'; let buttonText">
      <p class="text-control button-custom-message-text">Please select the service you required</p>
      <button mat-button nbButton status="control" (click)="getSupport()" [disabled]="buttonDisabled">
        Support
      </button>
      <button mat-button nbButton status="control " class="mt-10" (click)="getOpenTickets()" [disabled]="buttonDisabled">
        Open tickets
      </button>
      <button mat-button nbButton status="control " class="mt-10" (click)="getLicense()" [disabled]="buttonDisabled">
          License
      </button>
    </div>

    <!-- User ID form-->
    <div *nbCustomMessage="'custom-email-msg'; let data">
      <p class="text-control button-custom-message-text">{{data}}</p>
    </div>

    <!-- Product selector-->
    <div *nbCustomMessage="'custom-products-msg'; let data">
      <p class="text-control button-custom-message-text" *ngIf="serviceType == 'support'">Please select the product you have any questions about</p>
      <p class="text-control button-custom-message-text" *ngIf="serviceType == 'buy_license'">Select the product of your interest</p>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let product of products" [removable]="removable" (click)="selectProduct(product)">
          {{product.Product_Name}}
        </mat-chip>
      </mat-chip-list>
    </div>

    <!-- Answer score -->
    <div *nbCustomMessage="'custom-score-msg'; let buttonText">
      <p class="text-control button-custom-message-text">It would help us if you could score how helpful was this response to you</p>
      <button mat-button nbButton status="control" (click)="sc?.setAnswerScore(1)">
        No response
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="sc?.setAnswerScore(2)">
        Wrong
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="sc?.setAnswerScore(3)">
        Incomplete
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="sc?.setAnswerScore(4)">
        Helpful
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="sc?.setAnswerScore(5)">
        Very helpful
      </button>
    </div>

    <!-- Answer score -->
    <div *nbCustomMessage="'custom-options-msg'; let buttonText">
      <p class="text-control button-custom-message-text">Let us know what you want to do next in order to help you to solve your problem</p>
      <button mat-button nbButton status="control" (click)="sc?.openZendeskTicket()">
        Open Ticket
      </button>
      <button class="mt-10" *ngIf="canScheduleMeetings" mat-button nbButton status="control" (click)="sc?.scheduleMeeting()">
        Schedule Meeting
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="sc?.endSession()">
        End Chat
      </button>
    </div>

    <!-- Menu for other responses -->
    <div *nbCustomMessage="'custom-retry-msg'; let buttonText">
      <p class="text-control button-custom-message-text">You got any other questions?</p>
      <button mat-button nbButton status="control" (click)="sc?.endSession()">
        No
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="sc?.restartSession()">
        Yes
      </button>
    </div>

    <!-- Display links-->
    <a *nbCustomMessage="'link'; let data" [href]="data.href" target="_blank" (click)="sc?.linkClick(purpose)">
      {{ data.text }}
    </a>

    <!-- Ticket view -->
    <div *nbCustomMessage="'custom-ticket-list-view';">
      <button *ngFor="let ticket of openTickets" class="mt-10" mat-button nbButton status="control" (click)="tc?.getSpecificTicket(openTickets.indexOf(ticket))">
        {{ticket.id}}
      </button>
      <button class="mt-10" mat-button nbButton (click)="getMainMenu()">
        Back
      </button>
    </div>

    <div *nbCustomMessage="'custom-specific-ticket-view' let data;">
      <b>{{data.title}}</b>
      <br>
      <small>{{data.date}}</small>
      <p class="text-control-small ticket-list">
        {{data.description}}
      </p>

      <nb-badge text="{{data.priority}}" status="warning" position="bottom right"></nb-badge>

      <button mat-button nbButton (click)="tc?.getOpenTickets()">
        Back
      </button>
    </div>


    <!-- Select flat fee -->
    <div *nbCustomMessage="'custom-flat-fee-view';">
      <p class="text-control button-custom-message-text">Select the annual plan you prefer. Bear in mind that the annual plan of higher amount does not charge additional fees per record</p>
      <button *ngFor="let fee of flatFees" class="mt-10" mat-button nbButton status="control" (click)="lc?.setFlatFee(fee)">
        {{fee}}
      </button>
      <button class="mt-10" mat-button nbButton (click)="lc?.getProducts()">
        Back
      </button>
    </div>

    <!-- Select years -->
    <div *nbCustomMessage="'custom-years-view';">
      <p class="text-control button-custom-message-text">For how many years would you like to subscribe?</p>
      <button *ngFor="let y of yearList" class="mt-10" mat-button nbButton status="control" (click)="lc?.setYears(y.value)">
        {{y.years}}
      </button>
      <button class="mt-10" mat-button nbButton (click)="lc?.showProductPreferencesForm(this.product)">
        Back
      </button>
    </div>

    <!-- Select records -->
    <div *nbCustomMessage="'custom-records-view';">
      <p class="text-control button-custom-message-text">How many records do you plan to store?</p>
      <button *ngFor="let r of recordList" class="mt-10" mat-button nbButton status="control" (click)="lc?.setRecords(r.value)">
        {{r.records}}
      </button>
      <button class="mt-10" mat-button nbButton (click)="lc?.showYearsForm()">
        Back
      </button>
    </div>

    <!-- Select projects -->
    <div *nbCustomMessage="'custom-projects-view';">
      <p class="text-control button-custom-message-text">For how many projects do you plan to use this software?</p>
      <button *ngFor="let p of projectList" class="mt-10" mat-button nbButton status="control" (click)="lc?.setProjects(p.value)">
        {{p.projects}}
      </button>
      <button class="mt-10" mat-button nbButton *ngIf="flatFee != 6750" (click)="lc?.showRecordsFeeForm()">
        Back
      </button>

      <button class="mt-10" mat-button nbButton *ngIf="flatFee == 6750" (click)="lc?.showYearsForm()">
        Back
      </button>
    </div>

    <!-- Select forms -->
    <div *nbCustomMessage="'custom-forms-view';">
      <p class="text-control button-custom-message-text">How many registration forms will be set up?</p>
      <button *ngFor="let f of formList" class="mt-10" mat-button nbButton status="control" (click)="lc?.setForms(f.value)">
        {{f.forms}}
      </button>
      <button class="mt-10" mat-button nbButton (click)="lc?.showProjectsFeeForm()">
        Back
      </button>
    </div>

    <!-- Training fee -->
    <div *nbCustomMessage="'custom-training-view';">
      <p class="text-control button-custom-message-text">Is training required?</p>
      <button class="mt-10" mat-button nbButton status="control" (click)="lc?.setForms(true)">
        Yes
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="lc?.setForms(false)">
        No
      </button>
      <button class="mt-10" mat-button nbButton (click)="lc?.showProjectsFeeForm()" *ngIf="product.Product_Id != 7">
        Back
      </button>
      <button class="mt-10" mat-button nbButton (click)="lc?.showMembersForm()" *ngIf="product.Product_Id == 7">
        Back
      </button>
    </div>

    <!-- Select members -->
    <div *nbCustomMessage="'custom-members-view';">
      <p *ngIf="product.Product_Id != 8" class="text-control button-custom-message-text">How many members/devices will take part?</p>
      <p *ngIf="product.Product_Id == 8" class="text-control button-custom-message-text">How many downloads or devices will be used for the whole event?</p>

      <button *ngFor="let m of memberList" class="mt-10" mat-button nbButton status="control" (click)="lc?.setMembers(m.value)">
        {{m.members}}
      </button>
      <button class="mt-10" mat-button nbButton (click)="lc?.showYearsForm()">
        Back
      </button>
    </div>

    <!-- Select options -->
    <div *nbCustomMessage="'custom-options-view';">
      <p class="text-control button-custom-message-text">Which option would you prefer?</p>
      <button class="mt-10" mat-button nbButton status="control" *ngIf="product.Product_Id == 1" (click)="lc?.setOption(1)">
        Option 1 - App download
      </button>
      <button class="mt-10" mat-button nbButton status="control" *ngIf="product.Product_Id == 8" (click)="lc?.setOption(1)">
        Option 1 - App
      </button>
      <button class="mt-10" mat-button nbButton status="control" *ngIf="product.Product_Id == 1" (click)="lc?.setOption(2)">
        Option 2 - With equipment
      </button>
      <button class="mt-10" mat-button nbButton status="control" *ngIf="product.Product_Id == 8" (click)="lc?.setOption(2)">
        Option 2 - App with device
      </button>
      <button class="mt-10" mat-button nbButton *ngIf="product.Product_Id == 1" (click)="lc?.showYearsForm()">
        Back
      </button>
      <button class="mt-10" mat-button nbButton *ngIf="product.Product_Id == 8" (click)="lc?.showProductPreferencesForm(product)">
        Back
      </button>
    </div>



      <!-- Other messages-->
    <nb-chat-message *ngFor="let msg of messages"
                     [type]="msg.type"
                     [message]="msg.text"
                     [reply]="msg.reply"
                     [sender]="msg.user.name"
                     [date]="msg.date"
                     [avatar]="msg.user.avatar"
                     [customMessageData]="msg.customMessageData">
    </nb-chat-message>

    <app-support *ngIf="serviceType == 'support'" [location]="location" [userId]="userId" [userIdFlag]="userIdFlag"
                 (enable)="setEnabled($event)"
                 (buildMessage)="buildMessage($event)"
                 (validateUserId)="validateUserId($event)"
                 (setCanScheduleMeetings)="setCanScheduleMeetings($event)"
                 (setPurpose)="setPurpose($event)"
                 (setProducts)="setProducts($event)"
                 (setButtonDisabled)="setButtonDisabled($event)"
                 (setServiceType)="setServiceType($event)"
    ></app-support>

    <app-tickets *ngIf="serviceType == 'open_tickets'" [openTickets]="openTickets" [token]="token" [email]="email"
                 [userId]="userId"
                 (buildMessage)="buildMessage($event)"
                 (setOpenTickets)="setOpenTickets($event)"></app-tickets>

    <app-license *ngIf="serviceType == 'buy_license'"
                 (enable)="setEnabled($event)"
                 (buildMessage)="buildMessage($event)"
                 (setProducts)="setProducts($event)"
                 (setFlatFeeOut)="setFlatFee($event)"
                 (setFlatFeesParent)="setFlatFees($event)"></app-license>

    <nb-chat-form *ngIf="enabled" (send)="sendMessage($event)" [dropFiles]="true">
    </nb-chat-form>

<!--        &lt;!&ndash; <nb-chat-message-->
<!--          *ngIf="loading"-->
<!--          [nbSpinner]="loading"-->
<!--          nbSpinnerStatus="info"-->
<!--          type="text"-->
<!--          avatar="../assets/bot.png"-->
<!--          message="...">-->
<!--        </nb-chat-message> &ndash;&gt;-->
    </nb-chat>
</div>
