<div>
    <nb-chat *ngFor="let chat of chats"  [title]="chat.title" [status]="chat.status">
    <!-- Type of service selector -->
        <div *nbCustomMessage="'button'; let buttonText">
          <p class="text-control button-custom-message-text">Please select the service you required</p>
          <button mat-button nbButton status="control" (click)="getSupport()">
            Support
          </button>
          <button mat-button nbButton status="control " class="mt-10" (click)="getLicense()">
              License
          </button>
        </div>

    <!-- User ID form-->
        <div *nbCustomMessage="'custom-email-msg'; let data">
          <p class="text-control button-custom-message-text">{{data}}</p>
        </div>
    <!-- Product selector-->
        <div *nbCustomMessage="'custom-products-msg'; let data">
          <p class="text-control button-custom-message-text">Please select the product you have any questions about</p>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let product of products" [removable]="removable" (click)="selectProduct(product)">
              {{product.Product_Name}}
            </mat-chip>
          </mat-chip-list>
        </div>

    <!-- Other messages-->
    <nb-chat-message *ngFor="let msg of messages"
                     [type]="msg.type"
                     [message]="msg.text"
                     [reply]="msg.reply"
                     [sender]="msg.user.name"
                     [date]="msg.date"
                     [avatar]="msg.user.avatar"
                     [customMessageData]="msg.customMessageData">
    </nb-chat-message>

        <!-- <nb-chat-message
          *ngIf="loading"
          [nbSpinner]="loading"
          nbSpinnerStatus="info"
          type="text"
          avatar="../assets/bot.png"
          message="...">
        </nb-chat-message> -->

        <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
        </nb-chat-form>
    </nb-chat>
</div>
<!--<router-outlet></router-outlet> -->
