<div>
    <nb-chat *ngFor="let chat of chats"  [title]="chat.title" [status]="chat.status">
    <!-- Type of service selector -->
        <div *nbCustomMessage="'button'; let buttonText">
          <p class="text-control button-custom-message-text">Please select the service you required</p>
          <button mat-button nbButton status="control" (click)="getSupport()">
            Support
          </button>
          <button mat-button nbButton status="control " class="mt-10" (click)="getOpenTickets()">
            Open tickets
          </button>
          <button mat-button nbButton status="control " class="mt-10" (click)="getLicense()">
              License
          </button>
        </div>

      <!-- Ticket view -->
      <div *nbCustomMessage="'custom-ticket-list-view';">
        <p class="text-control button-custom-message-text">Open tickets, click each ticket to see content</p>
        <button *ngFor="let ticket of openTickets" mat-button nbButton status="control" (click)="getSpecificTicket(openTickets.indexOf(ticket))">
          {{ticket.subject}}
        </button>
      </div>

      <div *nbCustomMessage="'custom-specific-ticket-view' let data;">
        <b>{{data.title}}</b>
        <br>
        <small>{{data.date}}</small>
        <p class="text-control-small">
          {{data.description}}
        </p>

        <mat-chip-list #chipList>
          <mat-chip color="primary">
            {{data.priority}}
          </mat-chip>
        </mat-chip-list>
      </div>

    <!-- User ID form-->
        <div *nbCustomMessage="'custom-email-msg'; let data">
          <p class="text-control button-custom-message-text">{{data}}</p>
        </div>

    <!-- Product selector-->
        <div *nbCustomMessage="'custom-products-msg'; let data">
          <p class="text-control button-custom-message-text">Please select the product you have any questions about</p>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let product of products" [removable]="removable" (click)="selectProduct(product)">
              {{product.Product_Name}}
            </mat-chip>
          </mat-chip-list>
        </div>


    <!-- Answer score -->
    <div *nbCustomMessage="'custom-confirmation-msg'; let buttonText">
      <p class="text-control button-custom-message-text">Let us know if you read the reply above</p>
      <button mat-button nbButton status="control" (click)="getQualification()">
        Done
      </button>
    </div>

    <!-- Answer score -->
    <div *nbCustomMessage="'custom-score-msg'; let buttonText">
      <p class="text-control button-custom-message-text">It would help us if you could score how helpful was this response to you</p>
      <button mat-button nbButton status="control" (click)="setAnswerScore(1)">
        1 (No response)
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="setAnswerScore(2)">
        2 (Wrong)
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="setAnswerScore(3)">
        3 (Incomplete)
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="setAnswerScore(4)">
        4 (Helpful)
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="setAnswerScore(5)">
        5 (Very helpful)
      </button>
    </div>

    <!-- Menu for other responses -->
    <div *nbCustomMessage="'custom-retry-msg'; let buttonText">
      <p class="text-control button-custom-message-text">You got any other questions?</p>
      <button mat-button nbButton status="control" (click)="endSession()">
        No
      </button>
      <button class="mt-10" mat-button nbButton status="control" (click)="restartSession()">
        Yes
      </button>
    </div>

      <!-- Display links-->
    <a *nbCustomMessage="'link'; let data" [href]="data.href" target="_blank">
      {{ data.text }}
    </a>

    <!-- Other messages-->
    <nb-chat-message *ngFor="let msg of messages"
                     [type]="msg.type"
                     [message]="msg.text"
                     [reply]="msg.reply"
                     [sender]="msg.user.name"
                     [date]="msg.date"
                     [avatar]="msg.user.avatar"
                     [customMessageData]="msg.customMessageData">
    </nb-chat-message>

        <!-- <nb-chat-message
          *ngIf="loading"
          [nbSpinner]="loading"
          nbSpinnerStatus="info"
          type="text"
          avatar="../assets/bot.png"
          message="...">
        </nb-chat-message> -->

        <nb-chat-form *ngIf="enabled" (send)="sendMessage($event)" [dropFiles]="true">
        </nb-chat-form>
    </nb-chat>
</div>
<!--<router-outlet></router-outlet> -->
