@import 'themes';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
.mt-10{
  margin-top: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-chip.mat-standard-chip {
  color: black;
  font-size: 10px;
}

/* Form fields */
#chatlogic .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #ff6e0b;
}

#chatlogic .mat-input-element{
  caret-color: #ff6e0b;
}

#chatlogic .custom-label {
  color: #ff6e0b;
}

/* Snackbars */
#chatlogic .mat-simple-snackbar-action {
  color: #ff6e0b;
}
